<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	<mapping class="com.danco.model.Comment" /> 
  <mapping class="com.danco.model.Dialog" /> 
  <mapping class="com.danco.model.DialogMessage" /> 
  <mapping class="com.danco.model.Group" /> 
  <mapping class="com.danco.model.Location" /> 
  <mapping class="com.danco.model.Message" /> 
  <mapping class="com.danco.model.Post" /> 
  <mapping class="com.danco.model.User" /> 
  <mapping class="com.danco.model.UserDetails" /> 
  <mapping class="com.danco.model.Friendship" /> 



	</session-factory>
</hibernate-configuration>