<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1111</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">validate</property>
		<mapping class="com.danco.model.Comment" />
		<mapping class="com.danco.model.Dialog" />
		<mapping class="com.danco.model.DialogMessage" />
		<mapping class="com.danco.model.Group" />
		<mapping class="com.danco.model.Language" />
		<mapping class="com.danco.model.Location" />
		<mapping class="com.danco.model.Message" />
		<mapping class="com.danco.model.Post" />
		<mapping class="com.danco.model.User" />
		<mapping class="com.danco.model.UserDetails" />
		<mapping class="com.danco.model.UserRole" />
	</session-factory>
</hibernate-configuration>