<div class="navbar navbar-default ">

  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="index.html"> Fixed World
      <img src="imð/logo.png" width="75px" height="75px"/></a> 
    </div>
      
   <form name="searchForm" ng-controller="SearchController" class="search-form">
  Enter text and hit enter:
  <input type="text"  name="text" />
   <input type="submit" id="submit" value="go" />
   <select name="singleSelect" ng-model="data.singleSelect">
      <option value="option-1">people</option>
      <option value="option-2">group</option>
    </select>
      </form>
      
       <a href="" ng-click="logout()" ng-controller="LogoutController">Logout</a>
  </div>
</div>




	











