<div ng-if="authService.isLoggedIn()" ng-init="getGroups()" ng-show="groupList">
    <h4>Group {{groupList.length}} total.</h4>
    <input type="text" placeholder="search group by name" ng-model="filterGroup.name">
    <a>PLACE CREATE GROUP</a>
    <ul>
        <li class="groups" ng-repeat="group in groupList | filter: filterGroup">
            <a href="#/groups/{{group.id}}">
             Name:  {{group.title}} total: {{group.members.length}}
            </a>
        </li>
    </ul>
</div>
<div class="clear"></div>