<div > 
<form name="changePasswordForm" id="changePasswordForm" ng-submit="changePassword(userData)" >
	<h3 id="white" translate="CHNG_PASS">Change Password</h3>
	<p> 
		<label id="white" for="newPassword" translate="NEW_PASS" >New password:</label>
		<input type="password" id="newPassword" ng-model="userData.password" required="required"/>
	</p>
	<button type="submit" id="white" class="btn btn-primary" translate="CHNG_PASS">Change Password</button>
	<a href="#/" class="button" id="white" translate="CANCEL" >Cancel</a>
</form> 
<p style="text-align: center;"><img src="resources/aaa.jpeg " ></p>
<div ng-include="'templates/footer.html'" ></div>
</div>


