<form name="changePasswordForm" id="changePasswordForm" ng-submit="changePassword(userData)">
    <h3 translate="CHNG_PASS">Change Password</h3>

    <label for="oldPassword" translate="OLD_PASS">Old password:</label>
    <input type="password" id="oldPassword"  ng-model="userData.oldpassword" required="required"/>

    <label for="newPassword" translate="NEW_PASS" >New password:</label>
    <input type="password" id="newPassword" ng-model="userData.newpassword" required="required"/>

    <button type="submit" translate="CHNG_PASS">Change Password</button>
    <a href="#/" class="button" translate="CANCEL">Cancel</a>
</form>