
<div infinite-scroll='showAllComments()' infinite-scroll-disabled='isScrollPaused'
infinite-scroll-distance='0.01'>
    <div ng-if="authService.isLoggedIn()"   ng-show="dialogMessages"></div>

    <h4 translate="COMMENTS">Comments:</h4>
    <a translate="СOMMENTS_COUNT"> Comments count: </a>{{count}}
    <form id="addCommentForm" name="addCommentForm" ng-submit="addComment(commentData)">
         <textarea class="commentContent" placeholder="..." ng-model="commentData.text"
         minlength="2" required></textarea>
         <button type="submit" translate="COMMENT">Comment</button>
    </form>
    <div class="comment" ng-repeat="comment in comments">
         <div class="commentHeader">
              <div class="buttons">
                   <button  class="btn btn-default" ng-if="comment.creator.username == authService.getCurrentUser().username" ng-click="deleteComment(comment)" translate="DELETE">
                     Delete
                 </button>
                 <button  class="btn btn-default"  ng-if="comment.creator.username == authService.getCurrentUser().username" ng-click="comment.editing = true"
                 ng-hide="comment.editing" translate="EDIT">Edit
                 </button>
             </div>
            <a href="#/users/{{comment.creator.id}}">
            <img ng-src="{{'resources/defaultProfilePicture.jpg'}}"/>
            {{comment.creator.userDetails.firstName}}</a>
        </div>
        <div class="commentContent" ng-hide="comment.editing">{{comment.text}}</div>
        <div ng-show="comment.editing">
             <form ng-submit="editComment(comment)">
                <textarea ng-model="comment.text" cols="30" rows="3" placeholder="Write comment...."  translate translate-attr-placeholder="WRITE_COMMENT_PLACEHOLDER">
                 </textarea>
                 <button type="submit" class="btn btn-default" ng-click="comment.editing = false" translate="SAVE">Save</button>
                <a href="" class="btn btn-default" ng-click="comment.editing = false"    translate="CANCEL">Cancel</a>
             </form>
        </div>
        <div class="floatRight"> {{comment.timeCreation  |  date:"MM/dd/yyyy 'at' h:mma" }}</div>
        <div class="clear"></div>
    </div>
    
</div>