<div id="header" ng-if="!authService.isLoggedIn()">
 <div id="text"><img src="resources/logo.png" width="50px" height="50px"/><span> Fixed worls Social Network</span></div>

</div>
<header>
    <div id="nav" ng-if="authService.isLoggedIn()" ng-controller="FriendsController" ng-init="getFriendRequests()">
        <ul>
            <li>
              <a><img src="resources/logo.png" width="50px" height="50px"/></a> 
          </li>
          <li>
            <a href="#/me"><i class="pe-7s-user"></i>{{authService.getCurrentUser().userDetails.firstName}}</a>
        </li>
        <li><a href="" ng-click="routeReload()"  ><i class="pe-7s-home"></i><span translate="HOME_HEADER">Home</span></a></li>
        <li><a href="#/followers" ><i
            class="pe-7s-users" ></i><span translate="FRIENDS_HEADER">Friends</span></a></li>

            <li id="search" ng-click="showSearch = true"><a href=""><i class="pe-7s-search"></i><span
                ng-hide="showSearch" translate="SEARCH_HEADER">Search</span></a>
                <span ng-show="showSearch" id="searchDiv" ng-controller="SearchController">
                    <input type="text" ng-model="searchUserInput.param" ng-change="searchUser(searchUserInput)"
                    placeholder="Search..."
                    required ng-focus="showHideResults()" ng-blur="showHideResults()" translate translate-attr-placeholder="SEARCH_PLACEHOLDER"/>

                    <div id="searchResults" ng-show="showSearchResults">
                        <ul>
                            <li ng-repeat="searchResult in searchObj.responseEntity">
                                <a href="#/users/{{searchResult.id}}">
                                    <img id="profileImgSearch"
                                    ng-src="{{'resources/defaultProfilePicture.jpg'}}"/>
                                    {{searchResult.userDetails.firstName}}
                                </a>
                            </li>
                        </ul>
                        <span ng-if="searchObj" translate="RESULTS_TOTAL">Results total</span>{{searchObj.responseEntity.length}}
                    </div>
                </span>
            </li>

            <li><a href="#/profile" ><i class="pe-7s-id" ></i><span translate="EDIT_PROFILE_HEADER">Edit Profile</span></a></li>
            <li><a href="#/profile/password"  ><i class="pe-7s-key" ></i><span translate="CHANGE_PASSWORD_HEADER">Change Password</span></a></li>
            <li><a href="" ng-click="logout()" ng-controller="LogoutController"  ><i class="pe-7s-switch" ></i><span translate="LOGOUT_HEADER">Logout</span></a> </li>
            <div class="clear"></div> 
        </ul>
    </div>                    
</header>