<form id="registerForm" name="registerForm" ng-submit="register(userData)">
    <h2 translate="REGISTER">Register</h2>

    <label for="username" translate="USERNAME">Username:</label>
    <input type="text" id="username" ng-model="userData.username" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" required="required"/>

    <label for="password" translate="PASSWORD">Password:</label>
    <input type="password" id="password" ng-model="userData.password" ng-minlength="8" ng-maxlength="20" required="required"/>

    <label for="name" translate="NAME">Name:</label>
    <input type="text" id="name" ng-model="userData.userDetails.firstName" required="required"/>

    <label for="lastname" translate="LAST_NAME">Last Name:</label>
    <input type="text" id="lastname" ng-model="userData.userDetails.lastName" required="required"/>

    <label for="city"  translate="CITY">City:</label>
    <input type="text" id="city"  ng-model="userData.userDetails.location.city" required="required"/>

    <label for="state"  translate="STATE">State:</label>
    <input type="text" id="state"  ng-model="userData.userDetails.location.state" required="required"/>

    <label for="country"  translate="COUNTRY">Country:</label> 
    <input type="text" id="country"  ng-model="userData.userDetails.location.country" required="required"/>

    <label for="email">Email:</label>
    <input type="email" id="email" ng-model="userData.userDetails.email" required="required"/>

    <div>
        <label for="male"  translate="MALE">Male</label>
        <input ng-model="userData.userDetails.gender" id="male" type="radio" name="gender" value="Male" required>

        <label for="female"  translate="FEMALE">Female</label>
        <input ng-model="userData.userDetails.gender" id="female" type="radio" name="gender" value="Female" required>

    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid"  translate="REGISTER">Register</button>
</form>