
<sidebar ng-if="authService.isLoggedIn()"> 

	<div class="sidebar">
		<ul>
			<li><a clais="active" ng-href="#/me" translate="MY_PAGE">My Page</a></li>
			<li> <a ng-href="#/followers"  translate="MY_FRIENDS">My friends</a></li>
			<li> <a ng-href="#/messages"  translate="MY_MESSAGES">My messages</a></li>
			<li><a ng-href="#/news" translate="MY_EVENTS_NEWS">My events/news</a></li>
			<li><a ng-href="#/groups" translate="GROUPS">Groups</a></li>
			<li><a ng-href="#/settings" translate="SETTINGS">Settings</a></li>
			<a><img src="resources/logo_alt.png" width="100px" height="100px"/></a> 
		</ul>
	</div>
</sidebar>